
<div class="cont">
  <div class="header">
    <div class="header__image">
      <img src="../../assets/20200221_125938.jpg"
           alt=""
           srcset="">
    </div>
    <div class="header__text">
      <h1>Bola M. Sydhom </h1>
      <code style="font-size: 1rem;">Code Painter </code>
    </div>
    <div class="header__sm">
      <a href="https://www.facebook.com/bolamsydhom" target="_blank" >
        <i class="fa fa-facebook-official"
           aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/bolamsy" target="_blank" >
        <i class="fa fa-twitter-square"
           aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/bola-sydhom/" target="_blank" >

        <i class="fa fa-linkedin-square"
           aria-hidden="true"></i>
      </a>
      <a href="https://github.com/bolamsydhom" target="_blank" >

        <i class="fa fa-github-square"
           aria-hidden="true"></i>
      </a>

    </div>

  </div>
  <div class="bg"></div>

  <div class="coontain">


    <div class="card">
      <div class="card__container">
        <img src="../../assets/todo.png"
             alt=""
             srcset="">
      </div>
      <div class="card__text">
        <h2> To Do List</h2>
        <code>Angular project</code>
      </div>
      <div class="card__details">
        <p> Tired from losing track of what you have on your day ?
          This tool aims to help you keep an eye on your daily tasks in attractive way 😉</p>
      </div>
      <a href="https://nowtask.herokuapp.com/"
              target="_blank"
              mat-button
              color="primary">Visit <mat-icon>open_in_new</mat-icon> </a>
    </div>
    <div class="card">
      <div class="card__container">
        <img src="../../assets/mov.png"
             alt=""
             srcset="">
      </div>
      <div class="card__text">
        <h2> Movie Lists </h2>
        <code>React project</code>
      </div>
      <div class="card__details">
        <p> Interested in movies? want to know all new without buzzing ads?
          I think that is what you are waiting for 😉
        </p>
      </div>
      <a mat-button
         href="https://simple-movie-task.herokuapp.com/"
         target="_blank"
              color="primary">Visit <mat-icon>open_in_new</mat-icon> </a>
    </div>
    <div class="card">
      <div class="card__container">
        <img src="../../assets/q.png"
             alt=""
             srcset="">
      </div>
      <div class="card__text">
        <h2> Queue System </h2>
        <code>MEAN project</code>
      </div>
      <div class="card__details">
        <p style="margin-bottom: 1px;"> You want to spend you life waiting in queues? Here is your queue savior 😇
          we used
        </p>
        <ul style="margin-top: 5px;">
          <li>
            Angular / Material
          </li>
          <li>
            NodeJs / ExpressJs
          </li>
          <li>
            MongoDB
          </li>
          <li>
            MessageBird
          </li>
          <li>
            Cloudinary
          </li>
        </ul>


      </div>
      <a mat-button
         href="https://qu-sys.herokuapp.com/"
         target="_blank"
              color="primary">Visit <mat-icon>open_in_new</mat-icon> </a>
    </div>
  </div>
</div>
